@font-face {
  font-family: "Geo Regular";
  src: url(./geograph-web-fonts/GeographWeb-Regular.woff);
}

@font-face {
  font-family: "Geo Edit Regular";
  src: url(./geograph-edit-web-fonts/GeographEditWeb-Regular.woff);
}

@font-face {
  font-family: "Geo Edit Bold";
  src: url(./geograph-edit-web-fonts/GeographEditWeb-Bold.woff);
}
